.blog {
    .title-wrapper {
        h2 {
            width: 60%;
            float: left;
            margin: 0;
        }
        .tags {
            width: 40%;
            float: right;
            text-align: right;
            font-family: $body-font-family-title;
            font-size: 0;
            margin: -3px 0 0 0;
            a {
                text-decoration: none;
                display: inline-block;
                font-size: 12px;
                color: #fff;
                padding: 2px 16px;
                margin: 0 1px;
                &.indoor { background: $color-1; }
                &.outdoor { background: $color-2; }
                &.three-d { background: $color-3; }
                &.study { background: $color-4; }
                &.other { background: rgb(140, 140, 140); }
            }
        }
    }
    .item {
        border-bottom: 1px solid #BDBDBD;
        padding-bottom: 32px;
        margin-bottom: 40px;
        &:last-child {
            border-bottom: none;
        }
        .more {
            text-decoration: none;
            font-size: 14px;
            font-weight: 400;
            color: #111;
            border: 1px solid $color-2;
            text-transform: uppercase;
            display: inline-block;
            padding: 9px 32px 6px;
            transition: all 0.3s;
            &:hover {
                background: rgb(75, 163, 99);
                color: #fff;
            }
        }
    }
    .image-wrapper {
        width: 25%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }
    .text-wrapper {
        float: right;
        width: 75%;
        padding: 0 0 0 24px;
        margin: -5px 0 0 0;
    }
}