
$color-1: #E17A2C;
$color-2: #4BA363;
$color-3: #1D3960;
$color-4: #C12025;

[class*="column"] + [class*="column"]:last-child {
    float: left;
}

// table
table {
    width: 100%;
    td {
        padding: 8px 16px;
        border: 1px solid $color-2;
    }
}

// breadcrumbs
.breadcrumbs {
    padding: 8px 0 16px 8px;
    font-size: 14px;
    a {
        color: #000;
        text-decoration: none;
        &:hover {
            color: $color-2;
        }
    }
    .current {
        color: $color-2;
    }
}

// pagination
.paginations {
    margin-top: 40px;
    @include pagination;
    height: 100%;
    ul.pagination li.current a:hover, ul.pagination li.current a:focus {
        background: $color-2;
        color: #fff;
    }
    ul.pagination li:hover a, ul.pagination li a:focus {
        background: $color-2;
        color: #fff;
    }
    ul.pagination li.unavailable:hover a, ul.pagination li.unavailable a:focus {
        background: none;
        color: #111;
    }
    ul.pagination li.unavailable a {
        color: #111;
    }
    ul.pagination li {
        font-size: 16px;
        height: 100%;
    }
    ul.pagination {
        height: 100%;
        margin: 0;
    }
    ul.pagination li a {
        padding: 0 7px;
        text-decoration: none;
        background: none;
        border: 1px solid $color-2;
        border-radius: 0px;
        color: #111;
        font-weight: 400;
        font-size: 12px;
        width: 32px;
    }
    ul.pagination li.current a {
        font-weight: 400;
        background: $color-2;
        color: #fff;
    }
}




