
$color-1: #E17A2C;
$color-2: #4BA363;
$color-3: #1D3960;


[class*="column"] + [class*="column"]:last-child {
    float: left;
}

.breadcrumbs {
    padding: 8px 0 16px 8px;
    font-size: 14px;
    a {
        color: #000;
        text-decoration: none;
        &:hover {
            color: $color-2;
        }
    }
    .current {
        color: $color-2;
    }
}


