php_value upload_max_filesize 50M
php_value post_max_size 50M
php_value max_execution_time 5000
php_value max_input_time 5000

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /3dspace/app/wp/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /3dspace/app/wp/index.php [L]
</IfModule>

# END WordPress

<IfModule mod_security.c>
<Files async-upload.php>
SecFilterEngine Off
SecFilterScanPOST Off
</Files>
</IfModule>
<IfModule mod_security.c>
<Files upload.php>
SecFilterEngine Off
SecFilterScanPOST Off
</Files>
</IfModule>