.project {
    .big-image-wrapper {
        margin: 0 0 8px 0;
        padding: 0 4px;
        .controls {
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 4px;
            height: 100%;
            width: calc(100% - 8px);
            &:hover {
                > span {
                    transform: translateX(0) !important;
                }
            }
            &.show-right-button {
                .slide-right {
                    display: none;
                }
            }
            &.show-left-button {
                .slide-left {
                    display: none;
                }
            }
            > span {
                transition: transform 0.3s;
                width: 70px;
                height: calc(100% - 2px);
                background: rgba(0,0,0,0.6);
                cursor: pointer;
                position: relative;
                &:first-child {
                    transform: translateX(-80px);
                    float: left;
                    margin: 1px 0 0 1px; 
                }
                &:last-child {
                    transform: translateX(80px);
                    float: right;
                    margin: 1px 1px 0 0;
                }
                > span {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    display: block;
                    width: 30px;
                    height: 30px;
                    border: 2px solid;
                }
                &:first-child > span {
                    margin: 0 0 0 -6px;
                    transform: rotate(45deg) translate(-50%, -50%);
                    border-color: transparent transparent #fff #fff;
                }
                &:last-child > span {
                    margin: 0 0 0 -20px;
                    transform: rotate(45deg) translate(-50%, -50%);
                    border-color: #fff #fff transparent transparent;
                }
            }
        }
    }
    .big-image {
        transition: background 0.3s;
        border: 1px solid rgb(235, 230, 224);
        background-size: cover !important;
        background-position: center !important;
        img {
            width: 100%;
            height: auto;
        }
    }
    .more-text {
        margin: 32px 0 16px 0;
    }
    .wrapper-items {
        .large-2 {
            width: 10%;
        }
        > div {
            height: 75px;
            padding: 0;
            span {
                display: block;
                height: 100%;
                background-size: cover !important;
                background-position: center !important;
                cursor: pointer;
                border: 4px solid #fff;
            }
            
            &.active {
                span {
                    border: 4px solid $color-2;
                }
            }
        }
    }
}




