.home {
    .footer {
        //background: image-url('2_finish.jpg') no-repeat center;
        //background-size: cover;
        margin: 50px 0 0 0;
        > div {
            position: relative;
            z-index: 12;
        }
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: image-url('pattern2.png');
            background-color: rgba(0, 0, 0, 0.8);
            background-position: 0 18px;
            z-index: 10;
        }
    }
}

.start-block {
    p {
        width: 600px;
        text-align: center;
        margin: 65px auto 0;
        position: relative;
        span {
            display: block;
            text-align: right;
            padding: 16px 40px 0 0;
            font-size: 14px;
            font-weight: 700;
        }
        &:after, &:before {
            position: absolute;
            top: 4px;
            font-size: 90px;
            color: rgb(75, 163, 99);
            font-family: Arial;
        }
        &:after {
            content: '\201e';
            left: -70px;
        }
        &:before {
            content: '\201d';
            right: -70px;
        }
    }
}

.partners {
    text-align: center;
    h2 {
        text-align: left;
    }
    img {
        display: inline-block;
        width: 100px;
        margin: 16px 32px;
    }
}



