body {
    background: #F7F7F7;
        font-size: 16px;
        line-height: 24px;
}
html,
body {
    min-height: 100%;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: subpixel-antialiased;
        font-family: $body-font-family-text;
}

html {
    margin-top: 0!important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $body-font-family-title;
    text-transform: uppercase;
    line-height: 120%;
}

a {
    outline: none !important;
}


#wpadminbar {
    display: none;
}







body>*{
    transition: opacity 1s;
}
body:not(.loaded)>* {
    opacity: 0;
}