header {
    position: relative;
    z-index: 11;
    height: 79px;
    background: rgba(0,0,0,0.4);
    border-bottom: 1px solid rgba(255,255,255,0.5);
    > div {
        height: 100%;
        > div {
            height: 100%;
        }
    }
    
    // logo
    .logo {
        display: table;
        height: 100%;
        > div {
            display: table-cell;
            vertical-align: middle;
        }
        img {
            display: table-cell;
            vertical-align: middle;
        }
    }
    
    // menu
    .menu {
        height: 100%;
            text-align: right;
        ul {
            height: 100%;
            padding: 0;
            margin: 0;
            font-size: 0px;
        }
        li {
            display: inline-block;
            height: 100%;
            a {
                color: #fff;
                font-size: 16px;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 700;
                padding: 0 24px;
                font-family: $body-font-family-title;
                height: 100%;
                display: block;
                line-height: 77px;
                transition: all .1s;
                &:hover {
                    color: $color-2;
                    background-color: rgba(0,0,0,0.1);
                }
            }
            ul {
                display: none;
            }
        }
    }
    
    // language
    .language {
        height: 100%;
        text-align: right;
        > div {
            height: 100%;
        }
        a {
            display: inline-block;
            color: #fff;
            font-size: 16px;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 700;
            padding: 0 8px;
            font-family: $body-font-family-title;
            transition: all .3s;
            line-height: 77px;
            &:hover, &.active {
                color: $color-2;
            }
        }
    }
}




