{{ > header }}

<!--start slider-->
<div class="slider-wrapper">
    <div id="sequence">
        <ul class="sequence-canvas">
            {{#slider}}
            <li style="" class="">
                <span style="background:url('{{{url}}}');" class="banner-likn"></span>
            </li>
            {{/slider}}
        </ul>
        <ul class="sequence-pagination">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. <span>Harum, cum</span>
    </div>
</div>
<!--end slider-->


<!--start home-block-->
<div class="row home-block">
    <div class="columns large-4 item item-1">
        <div class="top-text">
            <h2>Lorem ipsum dolor</h2>
        </div>
        <div class="image"></div>
    </div>
    <div class="columns large-4 item item-2">
        <div class="top-text">
            <h2>Lorem ipsum dolor</h2>
        </div>
        <div class="image"></div>
    </div>
    <div class="columns large-4 item item-3">
        <div class="top-text">
            <h2>Lorem ipsum dolor</h2>
        </div>
        <div class="image"></div>
    </div>
</div>


<!--end home-block-->


{{ > footer }}