<!--start home-block-->
<div class="row home-block">
    <div class="columns large-4 item item-1">
        <div class="top-text">
            <h2>Lorem ipsum dolor</h2>
        </div>
        <div class="image"></div>
    </div>
    <div class="columns large-4 item item-2">
        <div class="top-text">
            <h2>Lorem ipsum dolor</h2>
        </div>
        <div class="image"></div>
    </div>
    <div class="columns large-4 item item-3">
        <div class="top-text">
            <h2>Lorem ipsum dolor</h2>
        </div>
        <div class="image"></div>
    </div>
</div>
<!--end home-block-->