<!--start text-->
<div class="row start-block">
    <div class="columns large-12">
        <p>Не устану повторять: главное, не сдавайтесь моде и дизайну! Хороший вкус не отменяется, ему никогда не поздно поучиться. Все остальное — вопрос личных возможностей. И самое страшное — перестараться. <span>Филипп Старк</span></p>
    </div>
</div>
<!--end start text-->

<!--start home-block-->
<div class="row home-block">
    <div class="columns large-3 item item-1">
        <div class="wrapper">
            <a href="#">Детальніше</a>
            <div class="top-text">
                <h2>Дизайн інтерєру</h2>
            </div>
            <div class="image" style="background:url('{{{url-home-block-1}}}');"></div>
        </div>
    </div>
    <div class="columns large-3 item item-2">
        <div class="wrapper">
            <a href="#">Детальніше</a>
            <div class="top-text">
                <h2>Дизайн екстерєру</h2>
            </div>
            <div class="image" style="background:url('{{{url-home-block-2}}}');"></div>
        </div>
    </div>
    <div class="columns large-3 item item-3">
        <div class="wrapper">
            <a href="#">Детальніше</a>
            <div class="top-text">
                <h2>3D візуалізація</h2>
            </div>
            <div class="image" style="background:url('{{{url-home-block-3}}}');"></div>
        </div>
    </div>
    <div class="columns large-3 item item-4">
        <div class="wrapper">
            <a href="#">Детальніше</a>
            <div class="top-text">
                <h2>Навчання</h2>
            </div>
            <div class="image" style="background:url('{{{url-home-block-4}}}');"></div>
        </div>
    </div>
</div>
<!--end home-block-->

<!--home content-->
<div class="home-content-holder">
    <div class="row">
        <div class="columns large-12">
            <h2>Lorem ipsum dolor sit amet.</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, nostrum unde aperiam nisi incidunt sint similique, eveniet minus odio illum at, assumenda, dolorem excepturi quo exercitationem deserunt iusto. Facere, molestiae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perferendis ipsa repellendus deleniti eius nostrum nulla quibusdam totam, numquam id perspiciatis, animi pariatur, non, illum laudantium. Nostrum adipisci obcaecati id reprehenderit, quia!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore commodi veritatis delectus iusto esse voluptatibus tempore consequatur, veniam ea libero porro voluptas cumque, at explicabo quo fuga fugit quibusdam a laboriosam, architecto eaque voluptatem accusamus ipsum sapiente in. Vero ab nemo quia officia suscipit cumque voluptas dolorem atque, aspernatur nisi?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos sed facere commodi nihil provident voluptatibus dolorem dolor nostrum et quibusdam, vel voluptatum reiciendis facilis sit minima distinctio quod dolorum blanditiis consequuntur maiores! Inventore magnam eligendi reprehenderit aperiam, soluta modi provident, quibusdam in alias debitis, laudantium. Quas omnis itaque excepturi minus voluptas ut id, dolores optio explicabo, molestias, fugiat iure. Sapiente qui fugiat deleniti non repudiandae quae, dolor perferendis. A, laudantium vel rerum, maiores, libero debitis est similique quo natus dolorum itaque repudiandae quidem odit veniam labore doloribus possimus dolore velit. Qui pariatur quia, placeat dignissimos. Laudantium ratione repellendus, doloremque ex.</p>
        </div>
    </div>
</div>
<!--end home content-->


