<!--start slider-->
<div class="slider-wrapper">
    <div id="sequence">
        <span class="bt">
            <span class="sequence-prev"></span>
            <span class="sequence-next"></span>
        </span>
        <ul class="sequence-canvas">
            {{#slider}}
            <li style="" class="">
                <span style="background:url('{{{url}}}');" class="banner-likn"></span>
            </li>
            {{/slider}}
        </ul>
        <ul class="sequence-pagination">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="text">
        Надійний дизайн. Цікаві технологіні рішення. <span>НАйкращі варіанти</span> з нами!
    </div>
</div>
<!--end slider-->