<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>blog</title>
    <link rel="stylesheet" href="css/app.css">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body class="">
    
    {{ > header }}
    
    <div class="top-image" style="background: url('{{{bg-image-blog}}}')"></div>
    
    <div class="row title-page">
        <div class="columns large-12">
            <h1>company blog</h1>
        </div>
    </div>
    
    <div class="row content-holder blog">
        
        {{ > breadcrumbs }}
            
        {{#blog}}
        <div class="wrapper clearfix">
            {{#item}}
            <div class="columns large-12 item clearfix">
                <div class="image-wrapper" style="background:url({{{url}}});"></div>
                <div class="text-wrapper">
                    <div class="title-wrapper clearfix">
                        <h2>{{{title}}}</h2>
                        <span class="tags">
                            {{#indoor}}<a href="#" class="indoor">ДИЗАЙН ІНТЕРЄРУ</a>{{/indoor}}
                            {{#outdoor}}<a href="#" class="outdoor">ДИЗАЙН ЕКСТЕРЄРУ</a>{{/outdoor}}
                            {{#three-d}}<a href="#" class="three-d">3D ВІЗУАЛІЗАЦІЯ</a>{{/three-d}}
                            {{#study}}<a href="#" class="study">НАВЧАННЯ</a>{{/study}}
                            {{#other}}<a href="#" class="other">ІНШЕ</a>{{/other}}
                        </span>
                    </div>
                    <p>{{{text}}}</p>
                    <a href="content.html" class="more">Читати більше</a>
                </div>
            </div>
            {{/item}}
        </div>
        {{/blog}}
        
        {{ > pagination }}
        
    </div>
    
    {{ > footer }}
    
    <script src="js/build/index.min.js"></script>
    
    <script src='//localhost:3000/socket.io/socket.io.js'></script>
    <script src='//localhost:3001/client/browser-sync-client.min.js'></script>
</body>
</html>