<!doctype html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Template</title>
  <link rel="stylesheet" href="css/app.css">
  <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body class="">
    
    {{ > content }}
    
    <script src="js/build/index.min.js"></script>
    
    <script>
        $(document).ready(function(){
            var options = {
                nextButton: false,
                prevButton: false,
                pagination: true,
                animateStartingFrameIn: true,
                autoPlay: true,
                autoPlayDelay: 5000,
                pauseOnHover: false
            };
            var mySequence = jQuery("#sequence").sequence(options).data("sequence");
        });
    </script>
    
    <script src='//localhost:3000/socket.io/socket.io.js'></script>
    <script src='//localhost:3001/client/browser-sync-client.min.js'></script>
</body>
</html>