<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>portfolio</title>
    <link rel="stylesheet" href="css/app.css">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body class="">
    
    {{ > header }}
    
    <div class="top-image" style="background: url('pictures/slider/2_finish.jpg')"></div>
    
    <div class="row title-page">
        <div class="columns large-12">
            <h1>Portfolio</h1>
        </div>
    </div>
    
    <div class="row content-holder portfolio">
       
        {{ > breadcrumbs }}
       
        <div class="wrapper">
            {{#portfolio}}
            <div class="columns large-4">
                <a href="#" style="background: url('{{{url}}}')">
                    <span>Відкрити</span>
                </a>
            </div>
            {{/portfolio}}
        </div>
        
    </div>
    
    {{ > footer }}
    
    <script src="js/build/index.min.js"></script>
    
    <script src='//localhost:3000/socket.io/socket.io.js'></script>
    <script src='//localhost:3001/client/browser-sync-client.min.js'></script>
</body>
</html>