<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>portfolio</title>
    <link rel="stylesheet" href="css/app.css">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body class="">
    
    {{ > header }}
    
    <div class="top-image" style="background: url('{{{bg-image-portfolio}}}')"></div>
    
    <div class="row title-page">
        <div class="columns large-12">
            <h1>Всі проекти</h1>
        </div>
    </div>
    
    <div class="row content-holder portfolio">
       
        {{ > breadcrumbs }}
        
        <div class="change-class">
            <a href="#" class="all active">Всі проекти</a>
            <a href="#" class="class-1">Дизайн інтерєру</a>
            <a href="#" class="class-2">Дизайн екстерєру</a>
        </div>
       
        <div class="wrapper clearfix">
            {{#portfolio}}
            <div class="columns large-3">
                <div class="my-wrap">
                    <div class="name"><h2>{{{name}}}</h2></div>
                    <div class="my-block" style="background: url('{{{url}}}')">
                        <a href="project.html">Відкрити</a>
                    </div>
                </div>
            </div>
            {{/portfolio}}
        </div>
        
        {{ > pagination }}
        
    </div>
    
    {{ > footer }}
    
    <script src="js/build/index.min.js"></script>
    
    <script src='//localhost:3000/socket.io/socket.io.js'></script>
    <script src='//localhost:3001/client/browser-sync-client.min.js'></script>
</body>
</html>