.portfolio {
    .wrapper {
        > div {
            height: 238px;
            padding: 8px;
//            &:nth-child(2n+1) > div .name:after {
//                transform: rotate(-3deg) translateX(-50%);
//            }
//            &:nth-child(2n) > div .name:after {
//                transform: rotate(3deg) translateX(-50%);
//            }
//            &:nth-child(3n+1) > div .name:after {
//                background: $color-1;
//            }
//            &:nth-child(3n+2) > div .name:after {
//                background: $color-2;
//            }
//            &:nth-child(3n+3) > div .name:after {
//                background: $color-3;
//            }
//            &:nth-child(4n+4) > div .name:after {
//                background: $color-4;
//            }
            .my-wrap {
                position: relative;
                width: 100%;
                height: 100%;
                overflow: hidden;
                &:hover {
                    .name {
                        opacity: 1;
                        transform: translateY(0);
                    }
                    .my-block {
                        transform: scale(1.05);
                        &:after {
                            opacity: 1;
                            background-color: rgba(0, 0, 0, 0.7);
                        }
                        a {
                            opacity: 1;
                            transform: translate(-50%, 0px);
                            transition: all 0.3s .2s;
                        }
                    }
                }
            }
            .name {
                opacity: 0;
                transform: translateY(30px);
                transition: all .3s ease;
                overflow: hidden;
                z-index: 12;
                position: absolute;
                top: 30px;
                left: 0;
                width: 100%;
                //height: 70px;
                    text-align: center;
//                &:after {
//                    content: '';
//                    position: absolute;
//                    bottom: 19px;
//                    left: 50%;
//                    width: calc(100% + 100px);
//                    height: calc(100% + 20px);
//                    z-index: -1;
//                    transform-origin: left;
//                    border-bottom: 2px solid rgb(232, 232, 232);
//                }
                h2 {
                    margin: 0;
                    //line-height: 50px;
                    color: white;
                    font-weight: 300;
                    font-size: 20px;
                }
            }
            .my-block {
                position: relative;
                height: 100%;
                background-size: cover!important;
                background-position: center!important;
                text-align: center;
                transition: all 0.3s;
                &:after {
                    opacity: 0;
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: image-url('pattern2.png');
                    background-color: rgba(0, 0, 0, 0.3);
                    background-position: 0 18px;
                    z-index: 10;
                    transition: all 0.3s;
                }
                a {
                    opacity: 0;
                    position: absolute;
                    bottom: 30px;
                    left: 50%;
                    transform: translate(-50%, 20px);
                    transition: all 0.3s 0s;
                    z-index: 14;
                    border: 1px solid white;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: white;
                    padding: 8px 32px;
                    background: rgba(0, 0, 0, 0.5);
                    &:hover {
                        background: rgba(0, 0, 0, 0.7);
                    }
                }
            }
        }
    }
    .change-class {
        position: absolute;
        top: -62px;
        right: 0;
            text-align: center;
            font-size: 0;
        > a {
            display: inline-block;
            background: rgb(231, 231, 231);
            border-left: 1px solid rgb(199, 199, 199);
            padding: 19px 32px;
                text-decoration: none;
                font-size: 16px;
                color: #000;
                font-family: Roboto Condensed;
                font-weight: 400;
            &:first-child {
                border: none;
            }
            &.active {
                background: #fff;
                &:hover {
                    background: #fff;
                }
            }
            &:hover {
                background: #F0F0F0;
            }
        }
    }
}


